In [5]:
import pandas as pd

In [6]:
frutas = pd.read_table("fruit_data_with_colors.txt", sep = '\t')

In [7]:
frutas

    fruit_label fruit_name     fruit_subtype  mass  width  height  color_score
0             1      apple      granny_smith   192    8.4     7.3         0.55
1             1      apple      granny_smith   180    8.0     6.8         0.59
2             1      apple      granny_smith   176    7.4     7.2         0.60
3             2   mandarin          mandarin    86    6.2     4.7         0.80
4             2   mandarin          mandarin    84    6.0     4.6         0.79
5             2   mandarin          mandarin    80    5.8     4.3         0.77
6             2   mandarin          mandarin    80    5.9     4.3         0.81
7             2   mandarin          mandarin    76    5.8     4.0         0.81
8             1      apple          braeburn   178    7.1     7.8         0.92
9             1      apple          braeburn   172    7.4     7.0         0.89
10            1      apple          braeburn   166    6.9     7.3         0.93
11            1      apple          braeburn   172    7.1     7.6         0.92
12            1      apple          braeburn   154    7.0     7.1         0.88
13            1      apple  golden_delicious   164    7.3     7.7         0.70
14            1      apple  golden_delicious   152    7.6     7.3         0.69
15            1      apple  golden_delicious   156    7.7     7.1         0.69
16            1      apple  golden_delicious   156    7.6     7.5         0.67
17            1      apple  golden_delicious   168    7.5     7.6         0.73
18            1      apple       cripps_pink   162    7.5     7.1         0.83
19            1      apple       cripps_pink   162    7.4     7.2         0.85
20            1      apple       cripps_pink   160    7.5     7.5         0.86
21            1      apple       cripps_pink   156    7.4     7.4         0.84
22            1      apple       cripps_pink   140    7.3     7.1         0.87
23            1      apple       cripps_pink   170    7.6     7.9         0.88
24            3     orange     spanish_jumbo   342    9.0     9.4         0.75
25            3     orange     spanish_jumbo   356    9.2     9.2         0.75
26            3     orange     spanish_jumbo   362    9.6     9.2         0.74
27            3     orange  selected_seconds   204    7.5     9.2         0.77
28            3     orange  selected_seconds   140    6.7     7.1         0.72
29            3     orange  selected_seconds   160    7.0     7.4         0.81
30            3     orange  selected_seconds   158    7.1     7.5         0.79
31            3     orange  selected_seconds   210    7.8     8.0         0.82
32            3     orange  selected_seconds   164    7.2     7.0         0.80
33            3     orange      turkey_navel   190    7.5     8.1         0.74
34            3     orange      turkey_navel   142    7.6     7.8         0.75
35            3     orange      turkey_navel   150    7.1     7.9         0.75
36            3     orange      turkey_navel   160    7.1     7.6         0.76
37            3     orange      turkey_navel   154    7.3     7.3         0.79
38            3     orange      turkey_navel   158    7.2     7.8         0.77
39            3     orange      turkey_navel   144    6.8     7.4         0.75
40            3     orange      turkey_navel   154    7.1     7.5         0.78
41            3     orange      turkey_navel   180    7.6     8.2         0.79
42            3     orange      turkey_navel   154    7.2     7.2         0.82
43            4      lemon    spanish_belsan   194    7.2    10.3         0.70
44            4      lemon    spanish_belsan   200    7.3    10.5         0.72
45            4      lemon    spanish_belsan   186    7.2     9.2         0.72
46            4      lemon    spanish_belsan   216    7.3    10.2         0.71
47            4      lemon    spanish_belsan   196    7.3     9.7         0.72
48            4      lemon    spanish_belsan   174    7.3    10.1         0.72
49            4      lemon           unknown   132    5.8     8.7         0.73
50            4      lemon           unknown   130    6.0     8.2         0.71
51            4      lemon           unknown   116    6.0     7.5         0.72
52            4      lemon           unknown   118    5.9     8.0         0.72
53            4      lemon           unknown   120    6.0     8.4         0.74
54            4      lemon           unknown   116    6.1     8.5         0.71
55            4      lemon           unknown   116    6.3     7.7         0.72
56            4      lemon           unknown   116    5.9     8.1         0.73
57            4      lemon           unknown   152    6.5     8.5         0.72
58            4      lemon           unknown   118    6.1     8.1         0.70

In [9]:
# Número de linhas e número de colunas
frutas.shape

(59, 7)

In [12]:
# Exibir uma tabela com as 5 primeiras linhas
frutas.head(5)

   fruit_label fruit_name fruit_subtype  mass  width  height  color_score
0            1      apple  granny_smith   192    8.4     7.3         0.55
1            1      apple  granny_smith   180    8.0     6.8         0.59
2            1      apple  granny_smith   176    7.4     7.2         0.60
3            2   mandarin      mandarin    86    6.2     4.7         0.80
4            2   mandarin      mandarin    84    6.0     4.6         0.79

In [13]:
# Algo estatístico sobre o conjunto de dados, apenas colunas numéricas
# contar / média / desvio padrão / mínimo ( menor valor encontrado) / quartis / máximo ( maior valor encontrado)
frutas.describe()

       fruit_label        mass      width     height  color_score
count    59.000000   59.000000  59.000000  59.000000    59.000000
mean      2.542373  163.118644   7.105085   7.693220     0.762881
std       1.208048   55.018832   0.816938   1.361017     0.076857
min       1.000000   76.000000   5.800000   4.000000     0.550000
25%       1.000000  140.000000   6.600000   7.200000     0.720000
50%       3.000000  158.000000   7.200000   7.600000     0.750000
75%       4.000000  177.000000   7.500000   8.200000     0.810000
max       4.000000  362.000000   9.600000  10.500000     0.930000

In [14]:
frutas.describe()['mass']

count     59.000000
mean     163.118644
std       55.018832
min       76.000000
25%      140.000000
50%      158.000000
75%      177.000000
max      362.000000
Name: mass, dtype: float64

In [15]:
frutas.describe()['mass']['min']

76.0

In [17]:
frutas['mass']

0     192
1     180
2     176
3      86
4      84
5      80
6      80
7      76
8     178
9     172
10    166
11    172
12    154
13    164
14    152
15    156
16    156
17    168
18    162
19    162
20    160
21    156
22    140
23    170
24    342
25    356
26    362
27    204
28    140
29    160
30    158
31    210
32    164
33    190
34    142
35    150
36    160
37    154
38    158
39    144
40    154
41    180
42    154
43    194
44    200
45    186
46    216
47    196
48    174
49    132
50    130
51    116
52    118
53    120
54    116
55    116
56    116
57    152
58    118
Name: mass, dtype: int64

In [18]:
frutas[['mass', 'color_score']]

    mass  color_score
0    192         0.55
1    180         0.59
2    176         0.60
3     86         0.80
4     84         0.79
5     80         0.77
6     80         0.81
7     76         0.81
8    178         0.92
9    172         0.89
10   166         0.93
11   172         0.92
12   154         0.88
13   164         0.70
14   152         0.69
15   156         0.69
16   156         0.67
17   168         0.73
18   162         0.83
19   162         0.85
20   160         0.86
21   156         0.84
22   140         0.87
23   170         0.88
24   342         0.75
25   356         0.75
26   362         0.74
27   204         0.77
28   140         0.72
29   160         0.81
30   158         0.79
31   210         0.82
32   164         0.80
33   190         0.74
34   142         0.75
35   150         0.75
36   160         0.76
37   154         0.79
38   158         0.77
39   144         0.75
40   154         0.78
41   180         0.79
42   154         0.82
43   194         0.70
44   200         0.72
45   186         0.72
46   216         0.71
47   196         0.72
48   174         0.72
49   132         0.73
50   130         0.71
51   116         0.72
52   118         0.72
53   120         0.74
54   116         0.71
55   116         0.72
56   116         0.73
57   152         0.72
58   118         0.70

In [19]:
frutas[10:15]

    fruit_label fruit_name     fruit_subtype  mass  width  height  color_score
10            1      apple          braeburn   166    6.9     7.3         0.93
11            1      apple          braeburn   172    7.1     7.6         0.92
12            1      apple          braeburn   154    7.0     7.1         0.88
13            1      apple  golden_delicious   164    7.3     7.7         0.70
14            1      apple  golden_delicious   152    7.6     7.3         0.69

In [20]:
frutas[['mass', 'color_score']][10:15]

    mass  color_score
10   166         0.93
11   172         0.92
12   154         0.88
13   164         0.70
14   152         0.69